*.class
# log file
logs/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.rtf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
hpoapi-cli/target/
hpoapi-core/target/
.idea/
HPOAPI.iml
hpoapi-core/hpoapi-core.iml
hpoapi-cli/hpoapi-cli.iml
hpoapi-core/dependency-reduced-pom.xml
hpoapi-cli/dependency-reduced-pom.xml
hp.tsv
data/
/hpoapi-cli/hpoapi-cli.iml
/hpoworkbench-cli/hpowbcli.iml
.DS_Store
hpo.rtf
hpotest.rtf
hpoworkbench-cli/hpowbcli.iml
hpoworkbench-cli/target/classes/default_sources.ini
hpoworkbench-cli/target/classes/log4j2.xml
hpoworkbench-cli/target/generated-sources/
hpoworkbench-core/hpowbcore.iml
hpoworkbench-core/target/generated-sources/
hpoworkbench-core/target/generated-test-sources/
hpoworkbench-core/target/test-classes/hp-smalltest.obo
hpoworkbench-core/target/test-classes/small-annotationfile1.tab
target/
~$potest.rtf
/hpoworkbench-core/hpowbcore.iml
/hpoworkbench-gui/hpowbgui.iml
hpoworkbench-cli/dependency-reduced-pom.xml
/HPOworkbench.iml
HPOworkbench.iml

/.idea/modules.xml
/hpoworkbench-gui/dependency-reduced-pom.xml
Abnormality of adipose tissue.xlsx
Flexion contracture.xlsx
/smallfile-qc.txt
/hpoworkbench-gui/hpoworkbench-gui.iml
/hpoworkbench-cli/hpoworkbench-cli.iml
/hpoworkbench-core/hpoworkbench-core.iml
