*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
hpoapi-cli/target/
hpoapi-core/target/
.idea/
HPOAPI.iml
hpoapi-core/hpoapi-core.iml
hpoapi-cli/hpoapi-cli.iml
hpoapi-core/dependency-reduced-pom.xml
hpoapi-cli/dependency-reduced-pom.xml
hp.tsv