*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.rtf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
hpoapi-cli/target/
hpoapi-core/target/
.idea/
HPOAPI.iml
hpoapi-core/hpoapi-core.iml
hpoapi-cli/hpoapi-cli.iml
hpoapi-core/dependency-reduced-pom.xml
hpoapi-cli/dependency-reduced-pom.xml
hp.tsv
data/
/hpoapi-cli/hpoapi-cli.iml
/hpowbcli/hpowbcli.iml
.DS_Store
hpo.rtf
hpotest.rtf
hpowbcli/hpowbcli.iml
hpowbcli/target/classes/default_sources.ini
hpowbcli/target/classes/log4j2.xml
hpowbcli/target/generated-sources/
hpowbcore/hpowbcore.iml
hpowbcore/target/generated-sources/
hpowbcore/target/generated-test-sources/
hpowbcore/target/test-classes/hp-smalltest.obo
hpowbcore/target/test-classes/small-annotationfile1.tab
target/
~$potest.rtf
/hpowbcore/hpowbcore.iml
