<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="LogFile" fileName="target/hpoworkbench.log" append="false">
            <PatternLayout pattern="[%t] %-5level %d{yyyy-MM-dd HH\:mm\:ss} %-5p %l - %m%n"/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %d{yyyy-MM-dd HH\:mm\:ss,SSS} %-5p %l - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>